<div class="experience">
<% if section["profile"] %><img src="<%= section["profile"] %>"><% end %>
<div class="experience_container">
<p>
<%= section["statement"] %>
</p>
<ul class="experience_list" style="display:none">
<% section["experience"].each do |experience| %>
<li><%= experience %> </li>
<% end %>
</ul>
</div>
</div>