<div class="experience">
<% if section["profile"] %><img src="<%= section["profile"] %>"><% end %>
<div class="experience_container">
<p style="padding: 50px 50px">
<%= section["statement"] %>
</p>
</div>
</div>