<!-- The social media icon bar -->
<% social_medias = ["linkedin","github","instagram","facebook","twitter"] %>
<% if @data["social_media"] %>
<div class="icon-bar"> 
  <% social_medias.each do |sm| %>
  <% if @data["social_media"][sm] %>
    <a href="<%= @data["social_media"][sm] %>" class="<%= sm %>"><i class="fa fa-<%= sm %>"></i></a>
  <% end %> 
  <% end %>
</div>  
<% end %>