
<% @data["sections"].each_with_index do |section, index| %>
    <div class="section">
        <div class="section_header">
            <span class="border"><%= index %><%= section["title"] if section["title"] %></span>
        </div>
    </div>

    <% if section["type"] %>
        <% type_path = "shared/panels/" + section["type"] %>
        <div class="section_body">
            <%= (render type_path, section: section ) rescue nil %>
        </div>
    <% end %>
<% end %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%= render partial: "shared/social_media" %>